body {
    background-image: url('../assets/wallpaper.jpg');
    background-size: cover;
    max-width: 100%;
}

.corpo {
    margin-top: 15%;
}

fieldset {
    border: 1px solid #f6a9e9;
    /* Cor da borda */
    border-radius: 5px;
    /* Bordas arredondadas */
    padding: 15px;
    margin-inline: 5%;
}

legend {
    font-size: 1.25rem;
    /* Tamanho da fonte do título */
    font-weight: bold;
    /* Fonte em negrito */
    color: #f6a9e9;
    /* Cor do texto do título */
}

a {
    margin: 5px; /*botão*/
}

h2 {
    text-align: center; /*titulos*/
    


}

h3 {
    text-align: center; /*titulos*/
}

div {
    text-align: center; /*titulos*/
   
}

h4 {
    text-align: center; /*titulos*/
   

}
#borda_cima {
    margin-top: 15%;
    margin-left: 15%; /*index*/
    
}

.listar {
    background-image: url('/wallpaperinfinito.jpg');
    background-size: cover;
    max-width: 100%;
}
.cadas {
    background-image: url('/wallpapercadastro.jpg');
    background-size: cover;
    max-width: 100%;
}

